:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

mat-card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(97, 53, 35, 0.6);
  border-radius: 12px;
  max-width: 400px;
  width: 100%;
}

mat-calendar {
  width: 100%;
}

.available-day {
  background-color: #d2b48c !important; /* marrón clarito tipo 'tan' */
  color: #4b2e05 !important; /* texto oscuro para contraste */
  border-radius: 50% !important;
}
