<div class="calendar-wrapper">
  <div id="appointments">
    <div class="appointments-header" ngClass="if (showHours) { 'border' } else { '' }">
      <h2 class="section-title">Reserva tu Cita</h2>
      <p class="section-subtitle"> Selecciona el día y hora que mejor se adapte a tu agenda. </p>
      <div class="section-subtitle"> Te esperamos en nuestra peluquería. </div>
    </div>
  </div>
  <!-- Mostrar calendario si no mostramos horas ni formulario -->
  <div *ngIf="!showHours && !showForm">
    <div class="header">
      <button class="arrow-btn" (click)="prevMonth()" [attr.aria-label]="'Mes anterior'">&#9664;</button>

      <button class="month-year-btn" (click)="togglePicker()">
        {{ monthNames[selectedMonth] }} {{ selectedYear }}
        <span class="arrow" [class.open]="showPicker">&#9662;</span>
      </button>

      <button class="arrow-btn" (click)="nextMonth()" [attr.aria-label]="'Mes siguiente'">&#9654;</button>
    </div>

    <div *ngIf="showPicker" class="picker-dropdown">
      <select [(ngModel)]="selectedMonth" (change)="onDateChange()">
        <option *ngFor="let m of monthNames; let i = index" [value]="i">{{ m }}</option>
      </select>

      <select [(ngModel)]="selectedYear" (change)="onDateChange()">
        <option *ngFor="let y of years" [value]="y">{{ y }}</option>
      </select>
    </div>

    <table class="calendar-table">
      <thead>
        <tr>
          <th *ngFor="let day of weekDays">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of calendarMatrix">
          <td *ngFor="let day of week" [ngClass]="{
                        'day-available': day && isAvailable(day),
                        'day-unavailable': day && !isAvailable(day),
                        'today': isToday(day),
                        'selected': isSelected(day),
                        'disabled': !day
                        }" (click)="selectDate(day)">
            <span class="day-content">{{ day?.getDate() || '' }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mostrar selector de horas -->
  <div *ngIf="showHours && !showForm" class="hour-selector-container">
    <app-hour-selector [date]="selectedDate" [bookedHours]="bookedSlotsByDate[selectedDateString] || []"
      [availableHours]="availableHoursForSelectedDate" (back)="backToCalendar()"
      (hourSelected)="onHourSelected($event)">
    </app-hour-selector>
  </div>

  <!-- Mostrar formulario de reserva -->
  <div *ngIf="showForm" id="booking-form-div">
    <button class="back-button" (click)="showForm = false; showHours = true;">← Cambiar hora</button>
    <app-booking-form *ngIf="selectedDate && selectedHour" [date]="selectedDateString" [time]="selectedHour"
      [barbers]="barbers" [allowBarberSelection]="allowBarberSelection"
      (formSubmitted)="handleFormSubmit($event)"></app-booking-form>

  </div>

</div>
