<div class="faq_37-173">
  <div class="heading_37-174">
    <span class="text-preguntas-frecuentes_37-175">Preguntas Frecuentes</span>
  </div>
  <div class="faq-container_37-176">
    <app-button [property1]="'Default'" class="button_40-237"></app-button>
    <app-button [property1]="'Default'" class="button_40-243"></app-button>
    <app-button [property1]="'Default'" class="button_40-249"></app-button>
    <app-button [property1]="'Default'" class="button_40-255"></app-button>
  </div>
</div>
