<div class="header">
  <div class="future-content">
    <span class="text-next">Próximamente: reservas online y pago telemático</span>
  </div>
  <div class="nav">
    <div class="heading">
      <span class="heading-text">PELUQUERÍA MODERNA</span>
    </div>
    <div class="anchors">
      <div class="anchor" id="location">
        <i class="bi bi-geo-alt-fill"></i>
        <span class="anchor-text"> Ubicación</span>
      </div>
      <div class="anchor" id="services">
        <i class="bi bi-clock-fill"></i>
        <span class="anchor-text"> Servicios</span>
      </div>
      <div class="anchor" id="contact">
        <i class="bi bi-telephone-fill"></i>
        <span class="anchor-text"> Contacto</span>
      </div>
      <div class="status">
        <div class="status-container">
          <span class="status-text">Cerrado</span>
        </div>
      </div>
    </div>
  </div>
  <div class="welcome-photo">
    <!-- Aquí va la foto -->
  </div>
</div>