<div class="header">
  <div class="future-content">
    <span class="text-next">Próximamente: reservas online y pago telemático</span>
  </div>

  <div class="nav">
    <div class="heading">
      <span class="heading-text">PELUQUERÍA MODERNA</span>
    </div>

    <div class="anchors">
      <div class="anchor" id="location">
        <i class="bi bi-geo-alt-fill"></i>
        <a class="anchor-text" href="#"
          (click)="scrollToSection('location-and-contact'); $event.preventDefault()">Ubicación</a>
      </div>
      <div class="anchor" id="service">
        <i class="bi bi-clock-fill"></i>
        <a class="anchor-text" href="#" (click)="scrollToSection('services'); $event.preventDefault()">Servicios</a>
      </div>
      <div class="anchor" id="appointment">
        <i class="bi bi-calendar-fill"></i>
        <a class="anchor-text" href="#" (click)="scrollToSection('appointments'); $event.preventDefault()">Cita</a>
      </div>

      <div class="status" *ngIf="businessInfo | async as status">
        <!-- Estado normal: Abierto -->
        <div *ngIf="status.isOpen && !status.isWarning" class="status-container open">
          <span class="status-text">Abierto</span>
        </div>

        <!-- Estado normal: Cerrado -->
        <div *ngIf="!status.isOpen && !status.isWarning" class="status-container closed">
          <span class="status-text">Cerrado</span>
        </div>

        <!-- Estado de advertencia: Próximo a cerrar -->
        <div *ngIf="status.isOpen && status.isWarning && status.warningType === 'closing'"
          class="status-container warning">
          <div class="status-content">
            <span class="status-text">Cerrando en</span>
            <span class="timer">{{ formatRemainingTime(status.remainingSeconds || 0) }}</span>
          </div>
        </div>

        <!-- Estado de advertencia: Próximo a abrir -->
        <div *ngIf="!status.isOpen && status.isWarning && status.warningType === 'opening'"
          class="status-container warning">
          <div class="status-content">
            <span class="status-text">Abriendo en</span>
            <span class="timer">{{ formatRemainingTime(status.remainingSeconds || 0) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="welcome-photo">
  </div>
</div>