.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 48px 24px 24px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.container-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text{
  color: #cfcfcf;
  font-size: 14px;
}


.copyright {
  text-align: center;
  font-size: 14px;
  color: #a1a1a1;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 24px;
}


.bi-instagram:hover{
  color: #E4405F;
  transition: color 0.3s ease;
}
.bi-facebook:hover{
  color: #1877F2;
  transition: color 0.3s ease;
}
.icon-link {
  text-decoration: none;   
  color: inherit;          
  display: inline-block;
  width: fit-content;
  scale: 1.4;
}
