<div class="footer">
  <div class="footer-container">
    <div class="info">
      <div class="container-column">
        <div class="heading">Enlaces</div>
        <div class="container-column">
          <a class="text" href="#" (click)="scrollToSection('featured-cuts'); $event.preventDefault()">Nuestros Cortes</a>
          <a class="text" href="#" (click)="scrollToSection('services'); $event.preventDefault()">Servicios y Precios</a>
          <a class="text" href="#" (click)="scrollToSection('appointments'); $event.preventDefault()">Reservar Cita</a>
          <a class="text" href="#" (click)="scrollToSection('location-and-contact'); $event.preventDefault()">Política de Privacidad</a>
          <a class="text" href="#" (click)="scrollToSection('location-and-contact'); $event.preventDefault()">Términos y Condiciones</a>
          <a class="text" [routerLink]=`login`>Sección de administrador</a>
        </div>
      </div>
      <div class="container-column">
        <div class="heading">Contacto</div>
        <div class="container-row">
          <i class="bi bi-geo-alt-fill"></i>
          <div class="text">Calle Falsa 123, Ciudad, País</div>
        </div>
        <div class="container-row">
          <i class="bi bi-telephone-fill"></i>
          <div class="text">+34 600 000 000</div>
        </div>
        <div class="container-row">
          <i class="bi bi-envelope-fill"></i>
          <div class="text">info&#64;barberiamoderna.com</div>
        </div>
      </div>
      <div class="container-column">
        <div class="heading">Horario</div>
        <div class="container-column">
          <span class="text">Lunes a Viernes: 10:00-20:00</span>
          <span class="text">Sábado: 9:00-18:00</span>
          <span class="text">Domingo: Cerrado</span>
        </div>
      </div>
      <div class="container-column">
        <div class="heading">Síguenos</div>
        <div class="container-column">
          <a href="https://www.instagram.com" target="_blank" class="icon-link"><i class="bi bi-instagram"></i></a>
          <a href="https://www.facebook.com" target="_blank" class="icon-link"><i class="bi bi-facebook"></i></a>
        </div>
      </div>
    </div>
    <div class="copyright">
        <span class="text">© 2025 Barbería Moderna. Todos los derechos reservados.</span>
    </div>
  </div>
</div>
