<div class="about-us_37-132">
  <div class="heading_37-133">
    <span class="text-sobre-nosotros_37-134">SOBRE NOSOTROS</span>
  </div>
  <div class="info_37-135">
    <div class="paragraph_37-136">
      <p class="text-block">
        Somos Miguel y Javier, apasionados por el oficio desde hace más de 15 años. Nuestro objetivo es combinar tradición y modernidad para que cada cliente salga satisfecho. Fundamos Barbería Moderna en 2015 con la visión de crear un espacio donde los hombres pudieran recibir un servicio de calidad, en un ambiente relajado y con resultados profesionales. Cada miembro de nuestro equipo está certificado y en constante formación para ofrecerte las últimas tendencias y técnicas.
      </p>
    </div>
    <div class="image_37-152">
      <div class="rectangle-3_37-172">
        <svg
          width="819"
          height="384"
          viewBox="0 0 819 384"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <rect x="0.5" width="818" height="384" fill="url(#pattern0_37_172)" />
          <defs>
            <pattern
              id="pattern0_37_172"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use
                xlink:href="#image0_37_172"
                transform="matrix(0.0015625 0 0 0.00332845 0 -0.188989)"
              />
            </pattern>
            <image
              id="image0_37_172"
              width="640"
              height="414"
              preserveAspectRatio="none"
              xlink:href="https://d375139ucebi94.cloudfront.net/region2/es/25009/biz_photo/d56491656aec4009978eed53f120a0-the-barbershop-biz-photo-a1c443b83c4d433b98100527953efe-booksy.jpeg?size=640x427"
            />
          </defs>
        </svg>
      </div>
    </div>
  </div>
</div>
