.header_11-87 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0.5px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.future-content_11-111 {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  background: #000000;
  width: -webkit-fill-available;
}
.text-pr-ximamente--reservas-online-y-pago-telem-tico_11-113 {
  color: #ffffff;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 303px;
  height: 20px;
}

.nav_11-89 {
  padding: 16px 16px 16px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 158px;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #e2e8f0;
  border-style: solid;
  border-bottom-width: 1px;
  background: #ffffff;
  height: 64px;
  width: -webkit-fill-available;
}
.heading_11-91 {
  position: relative;
  box-sizing: border-box;
  width: 246px;
  height: 32px;
}
.text-peluquer-a-moderna_11-92 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 20.399999618530273px;
  font-family: Inter;
  line-height: 32px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: left;
  width: 246px;
  height: 32px;
}

.anchors---status_11-93 {
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  width: 402px;
  height: 34px;
}
.location-anchor_11-94 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}
.frame_11-95 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_11-96 {
  top: 1px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_11-97 {
  top: 5px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-ubicaci-n_11-98 {
  color: #404040;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 70px;
  height: 21px;
}

.services-anchor_11-99 {
  padding: 1px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}
.frame_11-100 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_11-101 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_11-102 {
  top: 4px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-servicios_11-103 {
  color: #404040;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: right;
  width: 61px;
  height: 21px;
}

.contact-anchor_11-104 {
  position: relative;
  box-sizing: border-box;
  width: 84px;
  height: 24px;
}
.frame_11-105 {
  top: 4px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_11-106 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-contacto_11-107 {
  top: 1px;
  left: 20px;
  position: absolute;
  display: flex;
  color: #404040;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 64px;
  height: 21px;
}

.status_11-108 {
  position: relative;
  box-sizing: border-box;
  width: 75px;
  height: 28px;
}
.container_11-109 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  background: #ef4444;
  width: 75px;
  height: 28px;
}
.text-cerrado_11-110 {
  top: 4px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 51px;
  height: 19px;
}

.welcome-photo_11-88 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  height: 407px;
  width: -webkit-fill-available;
}
.rectangle-1_15-123 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
