<div class="service_29-272">
  <div class="container_29-251">
    <div class="info_29-252">
      <div class="heading_29-253">
        <span class="text-corte-cl-sico_29-254">Corte Clásico</span>
      </div>
      <div class="paragraph_29-255">
        <div class="watch_29-271">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.23437 14.6667C11.9163 14.6667 14.901 11.6819 14.901 8.00001C14.901 4.31811 11.9163 1.33334 8.23437 1.33334C4.55248 1.33334 1.56771 4.31811 1.56771 8.00001C1.56771 11.6819 4.55248 14.6667 8.23437 14.6667Z"
              stroke="#525252"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8.23438 4V8L10.901 9.33333"
              stroke="#525252"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <span class="text-aprox--25-min_29-259"> Aprox. 25 min </span>
      </div>
    </div>
    <div class="price_29-262">
      <span class="text-20_29-263">20</span>
      <span class="text--_29-264">€</span>
    </div>
  </div>
</div>
