<div class="services" id="services">
  <div class="heading">Servicios y Precios</div>
  <div class="paragraph">Ofrecemos una amplia gama de servicios de barbería profesional a precios competitivos.</div>
  
  @if (loading) {
    <div class="loading">Cargando servicios...</div>
  } @else {
    <div class="services-container">
      <div class="services-flex">
        @for (item of services; track $index) {
          <app-service 
            [name]="item.name"
            [description]="item.description"
            [price]="item.price"
            [time]="item.time">
          </app-service>
        }
      </div>
      <div class="paragraph">* Los tiempos pueden variar según tipo de cabello. Consulta si necesitas un servicio personalizado.</div>
    </div>
  }
</div>