<div class="featured-cuts_19-47">
  <div class="heading_19-48">
    <span class="text-cortes-destacados_19-49">Cortes Destacados</span>
  </div>
  <div class="description_19-50">
    <span
      class="text-nuestros-estilos-m-s-populares--realizados-por-barberos-expertos-con-a-os-de-experiencia-_19-51"
      >Nuestros estilos más populares, realizados por barberos expertos con años
      de experiencia.</span
    >
  </div>
  <div class="cuts_19-52">
    <app-cut></app-cut>
    <app-cut></app-cut>
    <app-cut></app-cut>
    <app-cut></app-cut>
  </div>
</div>
