.featured-cuts_19-47 {
  padding: 0px 35px 0px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.heading_19-48 {
  position: relative;
  box-sizing: border-box;
  width: 755px;
  height: 36px;
}
.text-cortes-destacados_19-49 {
  top: -2px;
  left: 248px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 27px;
  font-family: Inter;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 259px;
  height: 40px;
}

.description_19-50 {
  position: relative;
  box-sizing: border-box;
  width: 672px;
  height: 24px;
}
.text-nuestros-estilos-m-s-populares--realizados-por-barberos-expertos-con-a-os-de-experiencia-_19-51 {
  top: 1px;
  left: 18px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 14px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 637px;
  height: 21px;
}

.cuts_19-52 {
  padding: 0px 35px 0px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 75px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}

.image_19-54 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 360px;
  height: 256px;
}
.image_19-55 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  display: flex;
}

.description_19-56 {
  top: 257px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 188px;
}
.heading_19-57 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 28px;
}
.text-low-fade_19-58 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 17px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 85px;
  height: 27px;
}

.paragraph_19-59 {
  top: 60px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
}
.text-degradado-suave-que-se-desvanece-bajo-_19-60 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 291px;
  height: 21px;
}

.text-ideal-para-un-look-limpio-y-profesional-_19-61 {
  top: 25px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 274px;
  height: 21px;
}

.button_19-62 {
  top: 124px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #000000;
  width: 312px;
  height: 40px;
}
.text-reservar-este-corte_19-63 {
  top: 9px;
  left: 87px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 138px;
  height: 21px;
}

.container_19-64 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 362px;
  height: 446px;
  box-shadow:
    0px 0px 0px 0px #00000000,
    0px 0px 0px 0px #00000000,
    0px 1px 2px 0px #0000000c;
}
.container_19-65 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 360px;
  height: 256px;
}
.image_19-66 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 256px;
}

.container_19-67 {
  top: 257px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 188px;
}
.heading_19-68 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 28px;
}
.text-beard-trim---fade_19-69 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 17px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 165px;
  height: 27px;
}

.paragraph_19-70 {
  top: 60px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
}
.text-recorte-de-barba-perfectamente-alineado_19-71 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 292px;
  height: 21px;
}

.text-con-un-fade-que-complementa-el-estilo-_19-72 {
  top: 25px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 278px;
  height: 21px;
}

.button_19-73 {
  top: 124px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #000000;
  width: 312px;
  height: 40px;
}
.text-reservar-este-corte_19-74 {
  top: 9px;
  left: 87px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 138px;
  height: 21px;
}

.container_19-75 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 362px;
  height: 446px;
  box-shadow:
    0px 0px 0px 0px #00000000,
    0px 0px 0px 0px #00000000,
    0px 1px 2px 0px #0000000c;
}
.container_19-76 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 360px;
  height: 256px;
}
.image_19-77 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  display: flex;
}

.container_19-78 {
  top: 257px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 188px;
}
.heading_19-79 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 28px;
}
.text-corte-cl-sico-con-tijera_19-80 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 17px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 213px;
  height: 27px;
}

.paragraph_19-81 {
  top: 60px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
}
.text-el-cl-sico-corte-con-tijera-para-un-estilo_19-82 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 274px;
  height: 21px;
}

.text-elegante-y-atemporal-_19-83 {
  top: 25px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 153px;
  height: 21px;
}

.button_19-84 {
  top: 124px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #000000;
  width: 312px;
  height: 40px;
}
.text-reservar-este-corte_19-85 {
  top: 9px;
  left: 87px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 138px;
  height: 21px;
}

.container_19-86 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 362px;
  height: 446px;
  box-shadow:
    0px 0px 0px 0px #00000000,
    0px 0px 0px 0px #00000000,
    0px 1px 2px 0px #0000000c;
}
.container_19-87 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 360px;
  height: 256px;
}
.image_19-88 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 256px;
}

.container_19-89 {
  top: 257px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 188px;
}
.heading_19-90 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 28px;
}
.text-pompadour-moderno_19-91 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 17px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 196px;
  height: 27px;
}

.paragraph_19-92 {
  top: 60px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
}
.text-estilo-cl-sico-reinventado-con-volumen-en-la_19-93 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 311px;
  height: 21px;
}

.text-parte-superior-y-laterales-cortos-_19-94 {
  top: 25px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 226px;
  height: 21px;
}

.button_19-95 {
  top: 124px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #000000;
  width: 312px;
  height: 40px;
}
.text-reservar-este-corte_19-96 {
  top: 9px;
  left: 87px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 138px;
  height: 21px;
}

.container_19-97 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 362px;
  height: 446px;
  box-shadow:
    0px 0px 0px 0px #00000000,
    0px 0px 0px 0px #00000000,
    0px 1px 2px 0px #0000000c;
}
.container_19-98 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 360px;
  height: 256px;
}
.image_19-99 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  display: flex;
}

.container_19-100 {
  top: 257px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 188px;
}
.heading_19-101 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 28px;
}
.text-crew-cut_19-102 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 17px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 82px;
  height: 27px;
}

.paragraph_19-103 {
  top: 60px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
}
.text-corte-militar-actualizado--pr-ctico-y-de-bajo_19-104 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 306px;
  height: 21px;
}

.text-mantenimiento-_19-105 {
  top: 25px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 111px;
  height: 21px;
}

.button_19-106 {
  top: 124px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #000000;
  width: 312px;
  height: 40px;
}
.text-reservar-este-corte_19-107 {
  top: 9px;
  left: 87px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 138px;
  height: 21px;
}

.container_19-108 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 362px;
  height: 446px;
  box-shadow:
    0px 0px 0px 0px #00000000,
    0px 0px 0px 0px #00000000,
    0px 1px 2px 0px #0000000c;
}
.container_19-109 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  width: 360px;
  height: 256px;
}
.image_19-110 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  display: flex;
}

.container_19-111 {
  top: 257px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 360px;
  height: 188px;
}
.heading_19-112 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 28px;
}
.text-texturizado-con-volumen_19-113 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 17px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 229px;
  height: 27px;
}

.paragraph_19-114 {
  top: 60px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 312px;
  height: 48px;
}
.text-corte-con-textura-y-movimiento-en-la-parte_19-115 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 303px;
  height: 21px;
}

.text-superior-para-un-look-din-mico-_19-116 {
  top: 25px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 224px;
  height: 21px;
}

.button_19-117 {
  top: 124px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #000000;
  width: 312px;
  height: 40px;
}
.text-reservar-este-corte_19-118 {
  top: 9px;
  left: 87px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 138px;
  height: 21px;
}
