.appointment_31-130 {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.heading_31-131 {
  position: relative;
  box-sizing: border-box;
  width: 755px;
  height: 36px;
}
.text-reserva-tu-cita_31-132 {
  top: -2px;
  left: 272px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 25.5px;
  font-family: Inter;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 211px;
  height: 40px;
}

.paragraph_31-133 {
  position: relative;
  box-sizing: border-box;
  width: 672px;
  height: 48px;
}
.text-pr-ximamente-podr-s-reservar-tu-cita-online--mientras-tanto--puedes-contactarnos-por-tel-fono_31-134 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 670px;
  height: 21px;
}

.text-o-whatsapp-_31-135 {
  top: 25px;
  left: 291px;
  position: absolute;
  display: flex;
  color: #525252;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 91px;
  height: 21px;
}

.container_31-136 {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  background: #f5f5f5;
  width: 755px;
  height: 492px;
}
.container_31-137 {
  top: 32px;
  left: 32px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 691px;
  height: 300px;
}
.container_31-138 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 300px;
}
.container_31-139 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 66px;
}
.label_31-140 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 20px;
}
.text-nombre-completo_31-141 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 117px;
  height: 19px;
}

.container_31-142 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 42px;
}
.container_31-143 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 42px;
}
.frame_31-144 {
  top: 13px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_31-145 {
  top: 10px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-146 {
  top: 2px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.input_31-147 {
  padding: 9px 13px 9px 41px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 334px;
  height: 42px;
}
.text-tu-nombre_31-148 {
  color: #cccccc;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_31-149 {
  top: 82px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 66px;
}
.label_31-150 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 20px;
}
.text-tel-fono_31-151 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 55px;
  height: 19px;
}

.container_31-152 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 42px;
}
.container_31-153 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 42px;
}
.frame_31-154 {
  top: 13px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_31-155 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.input_31-156 {
  padding: 9px 13px 9px 41px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 334px;
  height: 42px;
}
.text-tu-tel-fono_31-157 {
  color: #cccccc;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_31-158 {
  top: 164px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 66px;
}
.label_31-159 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 20px;
}
.text-correo-electr-nico_31-160 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 117px;
  height: 19px;
}

.container_31-161 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 42px;
}
.container_31-162 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 42px;
}
.frame_31-163 {
  top: 13px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_31-164 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-165 {
  top: 5px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.input_31-166 {
  padding: 9px 13px 9px 41px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 334px;
  height: 42px;
}
.text-tu-email_31-167 {
  color: #cccccc;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_31-168 {
  top: 0px;
  left: 358px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 300px;
}
.container_31-169 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 66px;
}
.label_31-170 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 20px;
}
.text-fecha-deseada_31-171 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 93px;
  height: 19px;
}

.container_31-172 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 42px;
}
.container_31-173 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 42px;
}
.frame_31-174 {
  top: 13px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_31-175 {
  top: 1px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-176 {
  top: 1px;
  left: 11px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-177 {
  top: 3px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-178 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.input_31-179 {
  padding: 9px 13px 9px 41px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 334px;
  height: 42px;
}
.text-seleccionar-fecha_31-180 {
  color: #cccccc;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_31-181 {
  top: 82px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 66px;
}
.label_31-182 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 20px;
}
.text-servicio_31-183 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 50px;
  height: 19px;
}

.container_31-184 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 42px;
}
.container_31-185 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 28px;
  height: 42px;
}
.frame_31-186 {
  top: 13px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_31-187 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-188 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-189 {
  top: 3px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-190 {
  top: 10px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_31-191 {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.select_31-192 {
  padding: 9px 13px 9px 41px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 334px;
  height: 42px;
}
.text-seleccionar-servicio_31-193 {
  color: #0f172a;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_31-194 {
  top: 164px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 120px;
}
.label_31-195 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 20px;
}
.text-comentarios-adicionales_31-196 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0f172a;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 155px;
  height: 19px;
}

.container_31-197 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 334px;
  height: 96px;
}
.container_31-198 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.frame_31-199 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_31-200 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_31-201 {
  padding: 9px 13px 9px 41px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 334px;
  height: 90px;
}
.text-comentarios-adicionales_31-202 {
  color: #cccccc;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_31-203 {
  top: 356px;
  left: 32px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 691px;
  height: 104px;
}
.button_31-204 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 6px;
  background: #a3a3a3;
  width: 691px;
  height: 48px;
}
.text-enviar-solicitud-de-cita_31-205 {
  top: 13px;
  left: 264px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  width: 163px;
  height: 21px;
}

.paragraph_31-206 {
  top: 64px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 691px;
  height: 40px;
}
.text-estamos-adapt-ndonos-para-ofrecerte-la-mejor-experiencia-de-reserva-online--mientras-tanto--ll-manos-o_31-207 {
  top: 0px;
  left: 24px;
  position: absolute;
  display: flex;
  color: #737373;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 643px;
  height: 19px;
}

.text-env-anos-un-whatsapp-al--34-600-000-000_31-208 {
  top: 20px;
  left: 213px;
  position: absolute;
  display: flex;
  color: #737373;
  font-size: 11.899999618530273px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 265px;
  height: 19px;
}
