<div class="services_29-120">
  <div class="heading_29-121">
    <span class="text-servicios-y-precios_29-122">Servicios y Precios</span>
  </div>
  <div class="paragraph_29-123">
    <span
      class="text-ofrecemos-una-amplia-gama-de-servicios-de-barber-a-profesional-a-precios-competitivos-_29-124"
      >Ofrecemos una amplia gama de servicios de barbería profesional a precios
      competitivos.</span
    >
  </div>
  <div class="services-container_29-125">
    <div class="services_29-126">
      <app-service class="service_29-302"></app-service>
      <app-service class="service_29-316"></app-service>
      <app-service class="service_29-344"></app-service>
      <app-service class="service_29-358"></app-service>
      <app-service class="service_29-372"></app-service>
    </div>
    <div class="paragraph_29-247">
      <span
        class="text---los-tiempos-pueden-variar-seg-n-tipo-de-cabello--consulta-si-necesitas-un-servicio-personalizado-_29-248"
        >* Los tiempos pueden variar según tipo de cabello. Consulta si
        necesitas un servicio personalizado.</span
      >
    </div>
  </div>
</div>
