.services {
  padding: 32px 40px 48px 40px;
  max-width: 1180px; /* igual que otros bloques */
  margin: 0 auto;
  background: rgba(97, 53, 35, 0.6);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
.heading {
  position: relative;
  box-sizing: border-box;
  width: 755px;
  height: 36px;
  color: #0f172a;
  font-size: 25.5px;
  font-family: Inter;
  line-height: 36px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}
.paragraph {
  position: relative;
  box-sizing: border-box;
  width: 672px;
  height: 24px;
  color: #0f172a;
  font-size: 13.600000381469727px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 17px;
  box-sizing: border-box;
  width: 75%;
}
.services-flex {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 11px;
  box-sizing: border-box;
  width: 95%;
}