<div class="services">
  <div class="heading">Servicios y Precios</div>
  <div class="paragraph">Ofrecemos una amplia gama de servicios de barbería profesional a precios competitivos.</div>
  <div class="services-container">
    <div class="services-flex">
      <app-service></app-service>
      <app-service></app-service>
      <app-service></app-service>
      <app-service></app-service>
      <app-service></app-service>
    </div>
    <div class="paragraph">* Los tiempos pueden variar según tipo de cabello. Consulta si necesitas un servicio personalizado.</div>
  </div>
</div>
