html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* scroll vertical si hace falta */
  background-color: rgba(189, 139, 63, 0.65);
  font-family: 'Inter', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(189, 139, 63, 0.35);
  overflow-y: auto;
}
