body {
  margin: 0;
  padding: 0;
  background-color: rgba(182, 128, 46, 0.66); /* marrón tostado, cálido y con fuerza */
  font-family: 'Inter', sans-serif;
}/* You can add global styles to this file, and also import other style files */
html{
  scroll-behavior: smooth;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
