<div class="opinion_28-23">
  <div class="container_21-177">
    <div class="container_21-178">
      <div class="ellipse-1_22-207">
        <svg
          width="43"
          height="43"
          viewBox="0 0 43 43"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <circle cx="21.5" cy="21.5" r="21.5" fill="url(#pattern0_22_207)" />
          <defs>
            <pattern
              id="pattern0_22_207"
              patternContentUnits="objectBoundingBox"
              width="1"
              height="1"
            >
              <use
                xlink:href="#image0_22_207"
                transform="translate(-0.25) scale(0.00102041)"
              />
            </pattern>
            <image
              id="image0_22_207"
              width="1470"
              height="980"
              preserveAspectRatio="none"
              xlink:href=""            />
          </defs>
        </svg>
      </div>
    </div>
    <div class="container_21-180">
      <div class="paragraph_21-183">
        <span class="text-google_21-184">Google</span>
      </div>
      <div class="heading_21-181">
        <span class="text-miguel-a-_21-182">Miguel A.</span>
      </div>
    </div>
  </div>
  <div class="rating_21-185">
    <app-star [property1]="'Default'" class="star_28-6"></app-star>
    <app-star [property1]="'Default'" class="star_28-9"></app-star>
    <app-star [property1]="'Default'" class="star_28-12"></app-star>
    <app-star [property1]="'Default'" class="star_28-15"></app-star>
    <app-star [property1]="'Default'" class="star_28-18"></app-star>
  </div>
  <div class="paragraph_21-196">
    <span
      class="text-ambiente-genial--buenos-precios-y-atenci-n-personalizada--y-gracias-al-sistema-de-reservas-no-hay-que-hacer-tiempos-de-espera-_21-197"
    >Ambiente genial, buenos precios y atención personalizada. Y gracias al
      sistema de reservas no hay que hacer tiempos de espera.</span
    >
  </div>
</div>
