<div class="opinion">
  <div class="opinion-header">
    <div class="avatar">
      <svg
        width="43"
        height="43"
        viewBox="0 0 43 43"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <circle cx="21.5" cy="21.5" r="21.5" fill="url(#pattern0)" />
        <defs>
          <pattern
            id="pattern0"
            patternContentUnits="objectBoundingBox"
            width="1"
            height="1"
          >
            <use
              xlink:href="#image0"
              transform="translate(-0.25) scale(0.00102041)"
            />
          </pattern>
          <image
            id="image0"
            width="1470"
            height="980"
            preserveAspectRatio="none"
            xlink:href=""
          />
        </defs>
      </svg>
    </div>
    <div class="opinion-info">
      <div class="platform">Google</div>
      <div class="user-name">Miguel A.</div>
    </div>
  </div>
  <div class="rating">
    <app-star [property1]="'Default'"></app-star>
    <app-star [property1]="'Default'"></app-star>
    <app-star [property1]="'Default'"></app-star>
    <app-star [property1]="'Default'"></app-star>
    <app-star [property1]="'Default'"></app-star>
  </div>
  <div class="opinion-text">
    Ambiente genial, buenos precios y atención personalizada. Y gracias al
    sistema de reservas no hay que hacer tiempos de espera.
  </div>
</div>
